

body {
  text-align: center;
  background-image: url('wallpaper/10.jpg');
  background-position:cover;
  background-size:2000px;
  font-family: arial;
  font-size: 20px;
  color: white;
 
}

header {
	width:100%;
	background-color: #D7D7D7;
	padding:5px;
	font-family:Arial;
	color: blue;
	-webkit-text-stroke: black;

}


h1, h2, h3 {
	font-size: 50px;
	color: white, black;
	letter-spacing: -4px;
	word-spacing: -3px;
}

h1 {
  font-size: 60px;
  
}

h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 15px;
}

.blacktxt {
	color: black;
	-webkit-text-stroke: 0px;
}
	
	

.abc {
  margin: 20px;
  padding: 20px;
  background-image: url('wallpaper/3.jpg');
  background-size: 1600px;
}


.logo {
	border:none;
	border-radius:25px;
	width:170px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 20vh;
}

.img-pro {
	width: 350;
}

.events {
	width: 300;
	border: 1px solid gray;
	border-radius: 0;
}

img {
	width: 180;
	padding:1px;
	border:1px solid white;
	border-radius: 25px;
}

ul {
    list-style-type: none;
  }
    

 
 footer {
  background-color: #D7D7D7;
  padding: 10px;
  font-family:Arial;
  color: black;
  -webkit-text-stroke: black;
} 

mark {
	background-color: yellow;
	color:blue;
}

