

body {
  text-align: center;
  background-image: url('wallpaper/10.jpg');
  background-position:cover;
  background-size:2000px;
  font-family: arial;
  font-size: 20px;
  color: white;
 
}

header {
	width:100%;
	background-color: #D7D7D7;
	font-family:Arial;
	color: blue;
	-webkit-text-stroke: black;
	margin-top: -10px;
}


.header-link {
			padding: 10px 20px;
			background-color: #333;
			color: white;
			text-decoration: none;
			border-radius: 5px;
			margin: 0 2px;
			box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
			transform: translateY(0);
			transition: transform 5s, box-shadow 5s;
		}


.home-link {
			padding: 10px 20px;
			background-color: #333;
			color: white;
			text-decoration: none;
			border-radius: 5px;
			margin: 2px;
			box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
			transform: translateY(0);
			transition: transform 5s, box-shadow 5s;
		}

.home-link1 {
			padding: 10px 20px;
			background-color: white;
			color: #333;
			text-decoration: none;
			border-radius: 5px;
			margin: 2px;
			box-shadow: 4px 4px #B6B1B0;
			transform: translateY(0);
			transition: transform 5s, box-shadow 5s;
		}		
		

h1, h2, h3 {
	font-size: 50px;
	color: white, black;
	letter-spacing: -4px;
	word-spacing: -3px;
}

h1 {
  font-size: 50px;
  
}

h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 15px;
}

.blacktxt {
	color: black;
	-webkit-text-stroke: 0px;
}
	

.abc {
  margin: 20px;
  padding: 20px;
  background-image: url('wallpaper/3.jpg');
  background-size: 1600px;
  margin-left: -20px;
  margin-right: -20px;
  object-fit: cover;
}


.logo {
	border:1px solid black;
	border-radius: 25px;
	width:170px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 20vh;
}

.img-pro {
	width: 400;

}



.events {
	width: 300;
	border: 1px solid gray;
	border-radius: 0;
}

img {
	width: 150;
	padding:1px;
	border:1px solid white;
	border-radius: 25px;
}


ul {
    list-style-type: none;
  }
    

 
 footer {
  background-color: #D7D7D7;
  padding: 10px;
  font-family:Arial;
  color: black;
  -webkit-text-stroke: black;
  margin-bottom: -20px
} 


.gallery-image {
  width: 150px; 
  height: 150px;
  object-fit: cover;
}